<div class="body">
<div class="informacion">
        <h2>Registrar Cliente</h2>
        <p>Tipo Documento</p>
        <select name="tipo" id="tipo">
            <option value="c">Cedula ciudadania</option>
            <option value="r">Cedula de extranjeria</option>
            <option value="t">Tarjeta Identidad</option>
            <option value="p">permiso Especial De Permanencia</option>
          </select>
        <p>Nùmero Documento</p>
        <INPUT type="id" id="dijite su numero de identificación" required><BR>
            <p>Nombre</p>
            <INPUT type="text" id="dijite su nombre" ><BR>
                <p>Apellido</p>
            <INPUT type="text" id="dijite su Apellido" ><BR>
                <p>Genero</p>
                <select name="genero" id="genero">
                    <option value="f">Femenino</option>
                    <option value="m">Maculino</option>
                    <option value="o">Otro</option>
                  </select>
                <p>Email</p>
            <INPUT type="text" id="dijite su Email" ><BR> 
                <p>Telefono Contacto</p>
            <INPUT type="text" id="dijite su Telefono" ><BR>
                <p>paìs origen</p>
                <INPUT type="text" id="dijite su Paìs" ><BR>  
                    <p>Usuario</p>
                    <INPUT type="text" id="dijite su Usuario" ><BR>

                        <button>REGISTRAR</button>
    </div>
</div>
     


